MyWPF/Service References/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ViewModelLib.ViewModelPage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ViewModelLib.ViewModelPage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Link" nillable="true" type="tns:Link" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLink" nillable="true" type="tns:ArrayOfLink" />
  <xs:complexType name="Link">
    <xs:sequence>
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Open" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Link" nillable="true" type="tns:Link" />
</xs:schema>