EfDatabase/Inventory/ReportXml/ModelFileServer/SelectReportFileServer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="FileServerSelectView" type="FileServerSelectView">
		<xs:annotation>
			<xs:documentation>Выборка файлов на сервере</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FileServerSelectView">
		<xs:annotation>
			<xs:documentation>Выборка файлов на сервере</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="AllFileServerSelect" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="DublicatteFileServerSelect" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="SizeMaxFileServerSelect" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ErrorFileServerSelect" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AllFileServerSelect">
		<xs:annotation>
			<xs:documentation>Все файлы на сервере</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="LogicsButton" type="xs:string" default="Button">
				<xs:annotation>
					<xs:documentation>Логика над файлом</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdFile" type="xs:int">
				<xs:annotation>
					<xs:documentation>Ун файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdUser" type="xs:int">
				<xs:annotation>
					<xs:documentation>Ун пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameUser" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование пользователя в БД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SmallName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сокращенное имя пользователя в БД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TabelNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Табельный номер в БД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameOtdel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование отдела</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameSave" type="xs:string">
				<xs:annotation>
					<xs:documentation>Кто сохранил</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FileOwnerAuthor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Владелец файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="LastAuthor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Последний автор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FullPathFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Полный путь к файлу</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PathFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Путь к файлу</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ItemTypeText" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TypeMime" type="xs:string">
				<xs:annotation>
					<xs:documentation>Mime файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FileExtension" type="xs:string">
				<xs:annotation>
					<xs:documentation>Расширение файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SizeFileText" type="xs:string">
				<xs:annotation>
					<xs:documentation>Размер файла (текст)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SizeFile" type="xs:long">
				<xs:annotation>
					<xs:documentation>Размер файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="HashFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Hash файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreated" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата создания файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateAccessed" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата последнего доступа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateModified" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата последнего редактирования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateSaved" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата сохранения файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DublicatteFileServerSelect">
		<xs:annotation>
			<xs:documentation>Дубли файлов на сервере</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="LogicsButton" type="xs:string" default="Button">
				<xs:annotation>
					<xs:documentation>Логика над файлом</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdFile" type="xs:int">
				<xs:annotation>
					<xs:documentation>Ун файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdUser" type="xs:int">
				<xs:annotation>
					<xs:documentation>Ун пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameUser" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование пользователя в БД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SmallName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сокращенное имя пользователя в БД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TabelNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Табельный номер в БД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameOtdel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование отдела</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameSave" type="xs:string">
				<xs:annotation>
					<xs:documentation>Кто сохранил</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FileOwnerAuthor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Владелец файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="LastAuthor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Последний автор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FullPathFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Полный путь к файлу</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PathFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Путь к файлу</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ItemTypeText" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TypeMime" type="xs:string">
				<xs:annotation>
					<xs:documentation>Mime файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FileExtension" type="xs:string">
				<xs:annotation>
					<xs:documentation>Расширение файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SizeFileText" type="xs:string">
				<xs:annotation>
					<xs:documentation>Размер файла (текст)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SizeFile" type="xs:long">
				<xs:annotation>
					<xs:documentation>Размер файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="HashFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Hash файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreated" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата создания файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateAccessed" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата последнего доступа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateModified" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата последнего редактирования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateSaved" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата сохранения файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SizeMaxFileServerSelect">
		<xs:annotation>
			<xs:documentation>Большие файлы на сервере</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="LogicsButton" type="xs:string" default="Button">
				<xs:annotation>
					<xs:documentation>Логика над файлом</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdFile" type="xs:int">
				<xs:annotation>
					<xs:documentation>Ун файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdUser" type="xs:int">
				<xs:annotation>
					<xs:documentation>Ун пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameUser" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование пользователя в БД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SmallName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сокращенное имя пользователя в БД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TabelNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Табельный номер в БД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameOtdel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование отдела</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameSave" type="xs:string">
				<xs:annotation>
					<xs:documentation>Кто сохранил</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FileOwnerAuthor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Владелец файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="LastAuthor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Последний автор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FullPathFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Полный путь к файлу</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PathFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Путь к файлу</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ItemTypeText" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TypeMime" type="xs:string">
				<xs:annotation>
					<xs:documentation>Mime файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FileExtension" type="xs:string">
				<xs:annotation>
					<xs:documentation>Расширение файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SizeFileText" type="xs:string">
				<xs:annotation>
					<xs:documentation>Размер файла (текст)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SizeFile" type="xs:long">
				<xs:annotation>
					<xs:documentation>Размер файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="HashFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Hash файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreated" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата создания файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateAccessed" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата последнего доступа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateModified" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата последнего редактирования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateSaved" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата сохранения файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ErrorFileServerSelect">
		<xs:annotation>
			<xs:documentation>Ошибочные файлы на сервере</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="LogicsButton" type="xs:string" default="Button">
				<xs:annotation>
					<xs:documentation>Логика над файлом</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdFile" type="xs:int">
				<xs:annotation>
					<xs:documentation>Ун файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdUser" type="xs:int">
				<xs:annotation>
					<xs:documentation>Ун пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameUser" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование пользователя в БД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SmallName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сокращенное имя пользователя в БД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TabelNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Табельный номер в БД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameOtdel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование отдела</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameSave" type="xs:string">
				<xs:annotation>
					<xs:documentation>Кто сохранил</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FileOwnerAuthor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Владелец файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="LastAuthor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Последний автор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FullPathFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Полный путь к файлу</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PathFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Путь к файлу</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ItemTypeText" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TypeMime" type="xs:string">
				<xs:annotation>
					<xs:documentation>Mime файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FileExtension" type="xs:string">
				<xs:annotation>
					<xs:documentation>Расширение файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SizeFileText" type="xs:string">
				<xs:annotation>
					<xs:documentation>Размер файла (текст)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SizeFile" type="xs:long">
				<xs:annotation>
					<xs:documentation>Размер файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="HashFile" type="xs:string">
				<xs:annotation>
					<xs:documentation>Hash файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreated" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата создания файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateAccessed" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата последнего доступа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateModified" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата последнего редактирования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateSaved" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата сохранения файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
