EfDatabase/Inventory/ReportXml/ErrorInventory/ErrorInventory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="InventarNotHostName">
		<xs:annotation>
			<xs:documentation>Имена не совпадают с именами</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="IdSysBlock" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Ун системного блока</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameUsers" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SerNum" type="xs:string">
				<xs:annotation>
					<xs:documentation>Серийный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameComputer" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя компьютера</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InventarNumSysBlok" type="xs:string">
				<xs:annotation>
					<xs:documentation>Инвентарный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Invent" type="xs:string">
				<xs:annotation>
					<xs:documentation>Три знака инвентарки</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Три знака имени</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Coment" type="xs:string">
				<xs:annotation>
					<xs:documentation>Коментарий</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameStatus" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование статуса</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Errors" type="FullError">
		<xs:annotation>
			<xs:documentation>Ошибки по инвенторизации</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FullError">
		<xs:annotation>
			<xs:documentation>Ошибки по инвенторизации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Error" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ErrorUsersNotActual" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="AnaliticaSysBlokAndMonitors" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="UsersNotTechnical" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="IsProcessComplete" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ComputerIpAdressSynhronization" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="InventarNotHostName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="DoubleComputersName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="SynhronizationIp" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="NameHostIpAdress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="HistoryLog" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="TecnicalOtdel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="AllTechnics" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ErrorTokenUser" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ErrorUsersNotActual">
		<xs:annotation>
			<xs:documentation>Ошибки не актуальных пользователей</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="IdUser" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Ун пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Пользователь</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="StatusActual" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Статус</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="StatusText" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ColorStatus" type="xs:string">
				<xs:annotation>
					<xs:documentation>Цвет пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameCategory" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование категории</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Model" type="xs:string">
				<xs:annotation>
					<xs:documentation>Модель</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Category" type="xs:string">
				<xs:annotation>
					<xs:documentation>Категория</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SerNum" type="xs:string">
				<xs:annotation>
					<xs:documentation>Серийный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ServiceNum" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сервисный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InventarNumSysBlok" type="xs:string">
				<xs:annotation>
					<xs:documentation>Инвентарный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NumberKabinet" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер кабинета</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameComputer" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование компьютера</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IpAdress" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ip Адрес</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Error">
		<xs:annotation>
			<xs:documentation>Ошибки по технике</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="ErrorModel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Описание ошибки</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SmallName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameCategory" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование категории</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Model" type="xs:string">
				<xs:annotation>
					<xs:documentation>Модель</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Category" type="xs:string">
				<xs:annotation>
					<xs:documentation>Категория</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SerNum" type="xs:string">
				<xs:annotation>
					<xs:documentation>Серийный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InventarNumSysBlok" type="xs:string">
				<xs:annotation>
					<xs:documentation>Инвентарный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NumberKabinet" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер кабинета</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameComputer" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя компьютера</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IpAdress" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ip Адресс</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Coment" type="xs:string">
				<xs:annotation>
					<xs:documentation>Коментарий</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AnaliticaSysBlokAndMonitors">
		<xs:annotation>
			<xs:documentation>Аналитика мониторы и Системные блоки</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="UsersSysBlok" type="xs:string">
				<xs:annotation>
					<xs:documentation>Пользователь Сис.Блок</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TabelNumberSysBlok" type="xs:string">
				<xs:annotation>
					<xs:documentation>Табель Сис.Блок</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameSupplySysBlok" type="xs:string">
				<xs:annotation>
					<xs:documentation>Поставка Сис.Блок</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameKontractSysBlok" type="xs:string">
				<xs:annotation>
					<xs:documentation>Контракт Сис.Блок</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DatePostavkiSysBlok" type="xs:string">
				<xs:annotation>
					<xs:documentation>Дата поставки Сис.Блок</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NumberKabinetSysBlok" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер кабинета Сис.Блок</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="StatusingSysBlock" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус системного блока</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameComputerSysBlock" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование Сис.Блок</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ServiceNumSysBlock" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сервисный № Сис.Блок</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SerNumSysBlock" type="xs:string">
				<xs:annotation>
					<xs:documentation>Серийный № Сис.Блок</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InventarNumSysBlok" type="xs:string">
				<xs:annotation>
					<xs:documentation>Инвентарный № Сис.Блок</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ComputerNameSysBlock" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя Сис.Блок</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IpAdressSysBlock" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ip Адресс Сис.Блок</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameNameMonitor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Пользователь Монитор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TabelNumberNameMonitor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Табель Монитор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameSupplyNameMonitor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Поставка Монитор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameKontractNameMonitor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Контракт Монитор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DatePostavkiNameMonitor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Дата поставки Монитор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NumberKabinetNameMonitor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер кабинета Монитор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="StatusingMonitors" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус монитора</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameMonitor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование Монитор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SerNumNameMonitor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Серийный № Монитор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InventarNumMonitorNameMonitor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Инвентарный № Монитор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="UsersNotTechnical">
		<xs:annotation>
			<xs:documentation>Отсутствует техника у пользователя</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="IdUser" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Ун пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Полное Ноиенование пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SmallName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сокращенное имя пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TabelNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Табельный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NamePosition" type="xs:string">
				<xs:annotation>
					<xs:documentation>Должность</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameOtdel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование отдела</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="IsProcessComplete">
		<xs:annotation>
			<xs:documentation>Аналитика запущенных процосов</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataStart"/>
				<xs:element ref="DataFinish"/>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Ун процесса</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameProcess" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование процесса</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IsComplete" type="xs:boolean" use="required">
				<xs:annotation>
					<xs:documentation>Статус</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComputerIpAdressSynhronization">
		<xs:annotation>
			<xs:documentation>Данные полученные из домена</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DateCreate"/>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Уникальный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameHost" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя компьютера домена</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IpAdress" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ip Адресс</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="StatusIp" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="MacAdress" type="xs:string">
				<xs:annotation>
					<xs:documentation>Мак. Адресс</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="UserName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DoubleComputersName">
		<xs:annotation>
			<xs:documentation>Ошибки дубли</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="IdSysBlock" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Уникальный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ServiceNum" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сервисный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SerNum" type="xs:string">
				<xs:annotation>
					<xs:documentation>Серийный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InventarNumSysBlok" type="xs:string">
				<xs:annotation>
					<xs:documentation>Инвентарный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameComputer" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя компьютера</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IpAdress" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ip адрес</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SynhronizationIp">
		<xs:annotation>
			<xs:documentation>Синхронизация IP Адрессов</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Dates"/>
				<xs:element ref="IdUser"/>
			</xs:sequence>
			<xs:attribute name="Task" type="xs:string">
				<xs:annotation>
					<xs:documentation>Описание задачи</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdSysBlock" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Ун системного блока</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ActualIpAdress" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ip Адрес в AD</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameComputer" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя компьютера</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IpAdressOld" type="xs:string">
				<xs:annotation>
					<xs:documentation>Старый Ip Адрес</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IpAdressNew" type="xs:string">
				<xs:annotation>
					<xs:documentation>Новый Ip Адрес</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="NameHostIpAdress">
		<xs:annotation>
			<xs:documentation>Накладка Ip Адресов на Домен</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="IdSysBlock" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Ун системного блока</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="UserName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Пользователь</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InventarNumSysBlok" type="xs:string">
				<xs:annotation>
					<xs:documentation>Инвентарный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameComputer" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя компьютера</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IpAdress" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ip Адресс</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameHost" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование хоста(Домен)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IpAdresDomain" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ip Адрес домен</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Coment" type="xs:string">
				<xs:annotation>
					<xs:documentation>Коментарий</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование статуса</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="HistoryLog">
		<xs:annotation>
			<xs:documentation>Журнал</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataCreate"/>
			</xs:sequence>
			<xs:attribute name="IdModel" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Наименование модели ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Кто изменил модель</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameModelClass" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование модели</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameModel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Модель</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="OldModelColums" type="xs:string">
				<xs:annotation>
					<xs:documentation>Старая модель данных</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NewModelColums" type="xs:string">
				<xs:annotation>
					<xs:documentation>Новая модель данных</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ZavNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Заводской номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InventarNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Инвентарный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="TecnicalOtdel">
		<xs:annotation>
			<xs:documentation>Техника на отдел</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="NameOtdel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование отдела</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameClass" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование оборудования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameComputer" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование оборудования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SerNum" type="xs:string">
				<xs:annotation>
					<xs:documentation>Серийный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InventarNumSysBlok" type="xs:string">
				<xs:annotation>
					<xs:documentation>Инвентарный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NumberKabinet" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер кабинета</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Coment" type="xs:string">
				<xs:annotation>
					<xs:documentation>Коментарий</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AllTechnics">
		<xs:annotation>
			<xs:documentation>Вся техника в БД</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="LogicsButton" default="Button"/>
			<xs:attribute name="Id" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Уникальный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Item" type="xs:string">
				<xs:annotation>
					<xs:documentation>Классификация</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Пользователь</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип оборудования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameManufacturer" type="xs:string">
				<xs:annotation>
					<xs:documentation>Производитель</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameModel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Модель</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SerNum" type="xs:string">
				<xs:annotation>
					<xs:documentation>Серийный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InventarNum" type="xs:string">
				<xs:annotation>
					<xs:documentation>Инвентарный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ServiceNum" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сервисный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameServer" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование компьютера/сервера</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IpAdress" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ip Адрес</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Mac" type="xs:string">
				<xs:annotation>
					<xs:documentation>MAC Адрес</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NumberKabinet" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер кабинета</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Coment" type="xs:string">
				<xs:annotation>
					<xs:documentation>Коментарий</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameStatus" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование статуса</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ErrorTokenUser">
		<xs:annotation>
			<xs:documentation>Ошибки неправильно подтянутых Компьютеров к Токен</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="IdToken" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>УН токена</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SmallName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Владелец СБ</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SmallNameU1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Пользователь токена</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SerNum" type="xs:string">
				<xs:annotation>
					<xs:documentation>Серийнный номер токена</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SerNumSysBlock" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ошибочно внесен Токен на СБ: s/n</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameComputerSysBlock" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ошибочно внесен Токен на СБ: имя компьютера</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SerNumFact" type="xs:string">
				<xs:annotation>
					<xs:documentation>s/n Компьютера пользователя токена по Факту</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameComputerFact" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя компьютера пользователя по Факту</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataStart" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата начала процесса</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DataFinish" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата окончания процесса</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateCreate" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата записи</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Dates" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата записи</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DataCreate" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата записи</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IdUser" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>УН пользователя</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
