EfDatabase/Inventory/ReportXml/DtoAksiok/AllModelAksiok.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AllModel" type="AllModel">
		<xs:annotation>
			<xs:documentation>Полная модель Аксиока</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AllModel">
		<xs:annotation>
			<xs:documentation>Полная модель Аксиока</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="EquipmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="AksiokAllModel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ValueCharacteristicJson" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EquipmentType">
		<xs:annotation>
			<xs:documentation>Тип оборудования</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Producer" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:int">
				<xs:annotation>
					<xs:documentation>Ун типа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование типа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CodeType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Код типа оборудования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Producer">
		<xs:annotation>
			<xs:documentation>Производитель оборудования</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EquipmentModel" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:int">
				<xs:annotation>
					<xs:documentation>Ун производителя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameProducer" type="xs:string">
				<xs:annotation>
					<xs:documentation>Производитель оборудования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CodeProducer" type="xs:string">
				<xs:annotation>
					<xs:documentation>Код производителя оборудования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="EquipmentModel">
		<xs:annotation>
			<xs:documentation>Модель оборудования</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Id" type="xs:int">
				<xs:annotation>
					<xs:documentation>Ун модели</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameModel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Модель оборудования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CodeModel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Код модели оборудования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AksiokAllModel">
		<xs:annotation>
			<xs:documentation>Все модели Аксиок</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ActDate"/>
				<xs:element ref="ExploitationStartYear" minOccurs="0"/>
				<xs:element ref="Guarantee"/>
				<xs:element ref="ContractDateDeliveryContract"/>
				<xs:element ref="ContractDateSto"/>
			</xs:sequence>
			<xs:attribute name="LogicsButton" type="xs:string" default="Button">
				<xs:annotation>
					<xs:documentation>Логика кнопок</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Id" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Ун документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Soun" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>КОД СОУН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="KindEquipmentName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Вид оборудования/ПО</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип оборудования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameProducer" type="xs:string">
				<xs:annotation>
					<xs:documentation>Производитель</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameModel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование модели</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NumberDoc" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Author" type="xs:string">
				<xs:annotation>
					<xs:documentation>Автор документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CanDelete" type="xs:boolean" use="required">
				<xs:annotation>
					<xs:documentation>Атрибут удаления</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NumberContractDelivery" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер контракта на поставку оборудования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameContractDelivery" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование контракта на поставку оборудования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ExecutorDeliveryContract" type="xs:string">
				<xs:annotation>
					<xs:documentation>Исполнитель контакта на поставку</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NumberContractSto" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер контракта СТО</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameContractSto" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование контракта СТО</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ExecutorSto" type="xs:string">
				<xs:annotation>
					<xs:documentation>Исполнитель контракта СТО</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="AgencyName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование учреждения</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CreateDate" type="xs:dateTime" use="required">
				<xs:annotation>
					<xs:documentation>Дата документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ComputerName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя компьютера</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SerialNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Серийный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Identifier" type="xs:string">
				<xs:annotation>
					<xs:documentation>Идентификатор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InventoryNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Инвентарный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IsKit" type="xs:boolean" use="required">
				<xs:annotation>
					<xs:documentation>Комплект</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ActNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер акта</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ExpertiseStatus" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Статус Экспертизы</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ServiceNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сервисный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IndividualServiceNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Индивидуальный сервисный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NotOnBalance" type="xs:string">
				<xs:annotation>
					<xs:documentation>Что то с балансом</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="YearOfIssue" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Год выпуска</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Comment" type="xs:string">
				<xs:annotation>
					<xs:documentation>Комментарий</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ServiceStatus" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сервисный статус</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ActDate" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата акта</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ExploitationStartYear" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Год ввода в эксплуатацию</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Guarantee" nillable="true">
		<xs:annotation>
			<xs:documentation>Гарантия</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:dateTime"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValueCharacteristicJson">
		<xs:annotation>
			<xs:documentation>Описание всех атрибутов</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="IpAddress" type="xs:string">
				<xs:annotation>
					<xs:documentation>IP адрес</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Fio" type="xs:string">
				<xs:annotation>
					<xs:documentation>Фамилия И.О.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Division" type="xs:string">
				<xs:annotation>
					<xs:documentation>Отдел</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Building" type="xs:string">
				<xs:annotation>
					<xs:documentation>Участок (Здание)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Appointment" type="xs:string">
				<xs:annotation>
					<xs:documentation>Назначение</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FloorLocation" type="xs:string">
				<xs:annotation>
					<xs:documentation>Расположение. Этаж</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RoomLocation" type="xs:string">
				<xs:annotation>
					<xs:documentation>Расположение. Комната</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NotOnBalance" type="xs:string">
				<xs:annotation>
					<xs:documentation>Не на баланс</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DisplayInventoryNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Инвентарный номер монитора</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="HddCount" type="xs:string">
				<xs:annotation>
					<xs:documentation>Количество HDD</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Room" type="xs:string">
				<xs:annotation>
					<xs:documentation>Комната</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="HddSize" type="xs:string">
				<xs:annotation>
					<xs:documentation>Объем жесткого диска</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NetBiosName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сетевое имя (NetBIOS)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CpuType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип процессора</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CpuFrequencyMhz" type="xs:string">
				<xs:annotation>
					<xs:documentation>Частота процессора, МГц</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ModelInDeliveryAccordance" type="xs:string">
				<xs:annotation>
					<xs:documentation>Модель в соответствии с накладной/поставкой</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="VirtualizationEnvironment" type="xs:string">
				<xs:annotation>
					<xs:documentation>Среда виртуализации</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="AdditionalIPs" type="xs:string">
				<xs:annotation>
					<xs:documentation>Дополнительные IP адреса</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="StreamerBrand" type="xs:string">
				<xs:annotation>
					<xs:documentation>Марка стримера</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ServicePack" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сервис пак</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Fdd" type="xs:string">
				<xs:annotation>
					<xs:documentation>FDD</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="OfficeSuite" type="xs:string">
				<xs:annotation>
					<xs:documentation>Офисный пакет</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DisplaySize" type="xs:string">
				<xs:annotation>
					<xs:documentation>Размер экрана</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NetworkAdapter" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сетевая карта</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NetworkAdapterSpeed" type="xs:string">
				<xs:annotation>
					<xs:documentation>Скорость сетевой карты</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="HddType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип жесткого диска</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CdOrDvd" type="xs:string">
				<xs:annotation>
					<xs:documentation>CD/DVD</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Raid">
				<xs:annotation>
					<xs:documentation>RAID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PsVersion" type="xs:string">
				<xs:annotation>
					<xs:documentation>Версия ПС</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ConnectedUpsInventoryNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Инвентарный номер ИБП, к которому подключен</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="BoardsNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Кол-во плат</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CpuCount" type="xs:string">
				<xs:annotation>
					<xs:documentation>Количество процессоров</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CoreCount" type="xs:string">
				<xs:annotation>
					<xs:documentation>Количество ядер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DisplayBrand" type="xs:string">
				<xs:annotation>
					<xs:documentation>Монитор, марка</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DisplayServiceNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сервисный номер монитора</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DisplayType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип монитора</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="OsActualVersion" type="xs:string">
				<xs:annotation>
					<xs:documentation>Версия фактической ОС</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ZagsAddress" type="xs:string">
				<xs:annotation>
					<xs:documentation>Адрес органа ЗАГС</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ResponsiblePerson" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ответственный</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Описание</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RamType" type="xs:string">
				<xs:annotation>
					<xs:documentation>ОЗУ (тип)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RamSize" type="xs:string">
				<xs:annotation>
					<xs:documentation>ОЗУ (размер)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="OperatingSystem" type="xs:string">
				<xs:annotation>
					<xs:documentation>Операционная система</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="MacAddress" type="xs:string">
				<xs:annotation>
					<xs:documentation>МАК Адресс</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ConnectedPcInventoryNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Инвентарный номер ПК, к которому подключен</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DisplayMaxResolution" type="xs:string">
				<xs:annotation>
					<xs:documentation>Максимальное разрешение</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="StreamerCartridgeMark" type="xs:string">
				<xs:annotation>
					<xs:documentation>Маркировка картриджей стримера</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="KeyNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер ключа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TotalDiskSpaceGb" type="xs:string">
				<xs:annotation>
					<xs:documentation>Общее дисковое пространство, Gb</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ActualOsVersion" type="xs:string">
				<xs:annotation>
					<xs:documentation>Фактическая версия ОС</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RequiresReplacement" type="xs:string">
				<xs:annotation>
					<xs:documentation>Требует замены</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ZagsName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование загса</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TypeOfUse" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип использования</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TransferContractNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер трансфера</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FreeBoardsNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Кол-во свободных плат</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InternalAnalogNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Кол-во внутр абон аналог</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InternalDigitNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Кол-во внутр абон цифровых</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TypeOfAnalogConnection" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип аналогового подключения городской ввод</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TypeOfDigitConnection" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип цифрового подключения городской ввод</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="AdminsCount" type="xs:string">
				<xs:annotation>
					<xs:documentation>Численность администраторов УАТС</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Guarantee" type="xs:string">
				<xs:annotation>
					<xs:documentation>Гарантия</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="YearOfIssue" type="xs:string">
				<xs:annotation>
					<xs:documentation>Год выпуска</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ComputerName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя компьютера</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InventoryNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Инвентарный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Comments" type="xs:string">
				<xs:annotation>
					<xs:documentation>Комментарий</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SupplyContract" type="xs:string">
				<xs:annotation>
					<xs:documentation>Контракт</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ContractSto" type="xs:string">
				<xs:annotation>
					<xs:documentation>Контракт СТО</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ServiceNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сервисный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SerialNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Серийный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="MailServer" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сервер почты</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FirewallMailServer" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сервер Файлвола</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FirewallForVks" type="xs:string">
				<xs:annotation>
					<xs:documentation>Файлвол ВКС</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContractDateDeliveryContract" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата контракта на поставку оборудования</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:dateTime"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ContractDateSto" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата контракта СТО</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:dateTime"/>
		</xs:simpleType>
	</xs:element>
</xs:schema>
