TestIFNS/Service References/ServiceTestIfns/CommandDbf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommandDbf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IReaderCommandDbf_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8181/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8181/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8181/?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReaderCommandDbf_SqlFl_InputMessage">
    <wsdl:part name="parameters" element="tns:SqlFl" />
  </wsdl:message>
  <wsdl:message name="IReaderCommandDbf_SqlFl_OutputMessage">
    <wsdl:part name="parameters" element="tns:SqlFlResponse" />
  </wsdl:message>
  <wsdl:message name="IReaderCommandDbf_SqlUl_InputMessage">
    <wsdl:part name="parameters" element="tns:SqlUl" />
  </wsdl:message>
  <wsdl:message name="IReaderCommandDbf_SqlUl_OutputMessage">
    <wsdl:part name="parameters" element="tns:SqlUlResponse" />
  </wsdl:message>
  <wsdl:message name="IReaderCommandDbf_Page_InputMessage">
    <wsdl:part name="parameters" element="tns:Page" />
  </wsdl:message>
  <wsdl:message name="IReaderCommandDbf_Page_OutputMessage">
    <wsdl:part name="parameters" element="tns:PageResponse" />
  </wsdl:message>
  <wsdl:portType name="IReaderCommandDbf">
    <wsdl:operation name="SqlFl">
      <wsdl:input wsaw:Action="http://tempuri.org/IReaderCommandDbf/SqlFl" message="tns:IReaderCommandDbf_SqlFl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReaderCommandDbf/SqlFlResponse" message="tns:IReaderCommandDbf_SqlFl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SqlUl">
      <wsdl:input wsaw:Action="http://tempuri.org/IReaderCommandDbf/SqlUl" message="tns:IReaderCommandDbf_SqlUl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReaderCommandDbf/SqlUlResponse" message="tns:IReaderCommandDbf_SqlUl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Page">
      <wsdl:input wsaw:Action="http://tempuri.org/IReaderCommandDbf/Page" message="tns:IReaderCommandDbf_Page_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReaderCommandDbf/PageResponse" message="tns:IReaderCommandDbf_Page_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReaderCommandDbf" type="tns:IReaderCommandDbf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SqlFl">
      <soap:operation soapAction="http://tempuri.org/IReaderCommandDbf/SqlFl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SqlUl">
      <soap:operation soapAction="http://tempuri.org/IReaderCommandDbf/SqlUl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Page">
      <soap:operation soapAction="http://tempuri.org/IReaderCommandDbf/Page" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IReaderCommandDbf" type="tns:IReaderCommandDbf">
    <wsp:PolicyReference URI="#NetTcpBinding_IReaderCommandDbf_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SqlFl">
      <soap12:operation soapAction="http://tempuri.org/IReaderCommandDbf/SqlFl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SqlUl">
      <soap12:operation soapAction="http://tempuri.org/IReaderCommandDbf/SqlUl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Page">
      <soap12:operation soapAction="http://tempuri.org/IReaderCommandDbf/Page" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommandDbf">
    <wsdl:port name="BasicHttpBinding_IReaderCommandDbf" binding="tns:BasicHttpBinding_IReaderCommandDbf">
      <soap:address location="http://localhost:8181/TestIFNSLibary.CommandDbf" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IReaderCommandDbf" binding="tns:NetTcpBinding_IReaderCommandDbf">
      <soap12:address location="net.tcp://localhost:45618/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:45618/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/I7751-W40000961.regions.tax.nalog.ru</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>