TestIFNS/Service References/ServiceTestIfns/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TestIFNSLibary.Xml.XmlDS" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TestIFNSLibary.PathJurnalAndUse" />
  <xs:element name="SqlFl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="command" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conectionstring" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datasetreport" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SqlFlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SqlFlResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SqlUl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="god" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="command" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conectionstring" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datasetreport" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SqlUlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SqlUlResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsActive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Jurnal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JurnalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestIFNSLibary.Xml.XmlDS" minOccurs="0" name="JurnalResult" nillable="true" type="q1:ArrayOfBakcupJurnal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DateBakcup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DateBakcupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DateBakcupResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileBakcup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Config">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TestIFNSLibary.PathJurnalAndUse" minOccurs="0" name="ConfigResult" nillable="true" type="q2:Parametr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testDb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workDb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hours" type="xs:int" />
        <xs:element minOccurs="0" name="minutes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>