TestIFNS/Service References/ServiceTestIfns/TestIFNSLibary.PathJurnalAndUse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestIFNSLibary.PathJurnalAndUse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestIFNSLibary.PathJurnalAndUse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Parametr">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hours" type="xs:int" />
      <xs:element minOccurs="0" name="Minutes" type="xs:int" />
      <xs:element minOccurs="0" name="TestDB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkDB" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parametr" nillable="true" type="tns:Parametr" />
</xs:schema>