TestIFNS/Service References/ServiceTestIfns/TestIFNSLibary.Xml.XmlDS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestIFNSLibary.Xml.XmlDS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestIFNSLibary.Xml.XmlDS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBakcupJurnal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BakcupJurnal" nillable="true" type="tns:BakcupJurnal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBakcupJurnal" nillable="true" type="tns:ArrayOfBakcupJurnal" />
  <xs:complexType name="BakcupJurnal">
    <xs:sequence>
      <xs:element name="dateField" type="xs:dateTime" />
      <xs:element name="dateFieldSpecified" type="xs:boolean" />
      <xs:element name="statusField" type="xs:boolean" />
      <xs:element name="statusFieldSpecified" type="xs:boolean" />
      <xs:element name="textField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BakcupJurnal" nillable="true" type="tns:BakcupJurnal" />
</xs:schema>